@page "/products"
@implements IDisposable

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <CategoriesPage CategoryClickedEvent="CategoryClickedEvent" DefaultCategoryClickedEvent="DefaultCategoryClickedEvent"/>
        </div>
    </div>
</div>

@code
{
    protected async override Task OnInitializedAsync()
    {
        await LoadData();
        ProductService.ProductAction += StateHasChanged;
    }

    private async void CategoryClickedEvent(int categoryId)
    {
        if (categoryId == 0)
            return;

        await ProductService.GetProductsByCategory(categoryId);
    }

    async Task DefaultCategoryClickedEvent()
    {
        ProductService.ProductsByCategory = null!;
        await LoadData();
    }

    async Task LoadData()
    {
        bool featured = false;
        await ProductService.GetAllProducts(featured);
    }

    public void Dispose()
    {
        ProductService.ProductAction -= StateHasChanged;
    }

}